* {
    margin: 0;
    padding: 0;
}

#layout {
    max-width: 900px;
    margin: auto;
    border: 3px dotted black;
    position: relative;
}

/* 상단 */
nav:not(.subMenu) {

    margin-top: 35px;

}

nav {
    /* padding-top: 15px; */
    text-align: center;
}


header {
    height: 100px;
    border: 1px solid aqua;
    background-color: #4F6F52;
    z-index: 1;
    position: relative;
}

/* 메뉴 */
.mainMenu {
    text-align: center;
    color: black;
    text-decoration: none;
}

nav li .subMenu {
    transition: 0.3s;
}

nav li:hover .subMenu {
    /* display: block; */
    height: 100%;
    /* padding-top: 10px; */

}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

nav li {
    /* border: 3px red dashed; */
    width: 100px;
}


.subMenu {
    /* display: none;  */
    background: rgba(115, 152, 113, 0.85);
    height: 0;
    overflow: hidden;
    display: block;
    position: relative;
}

nav a {
    display: block;
}

/* 메인 */
main {
    height: 70vh;
    border: 1px solid green;
}

main img {
    height: 100%;
}

img {
    max-width: 100%;
}

/* 하단 */
footer {
    height: 100px;
    background-color: #E8DFCA;
}

/* 공지사항 */
#popup {
    width: 500px;
    height: 400px;
    position: absolute;
    left: calc((100% / 2) - 250px);
    top: 120px;
    background: #B0C5A4;
    z-index: 2;
    border-radius: 50px;
    padding: 30px;
    box-sizing: border-box;
}

#popup button {
    padding: 3px 6px;
    position: absolute;
    bottom: 30px;
    right: 50px;
}